---
import Banner from "../components/banner.astro";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import Layouts from "../layouts/layouts.astro";
---

<Layouts>
  <Header />
  <Banner title="Classes" showButton={false} />
  <main>

  </main>
  <Footer />
</Layouts>
