---
import Header from "../components/header.astro";
import Banner from "../components/banner.astro";
import Telepronter from "../components/telepronter.astro";
import Information from "../components/information.astro";
import Layouts from "../layouts/layouts.astro";
import Prashe from "../components/prashe.astro";
---

<Layouts>
  <Header />
  <Banner />
  <main>
    <Telepronter />
    <Information />
    <Prashe />
  </main>
</Layouts>
