---
import Header from "../components/header.astro";
import Banner from "../components/banner.astro";
import Telepronter from "../components/telepronter.astro";
import Information from "../components/information.astro";
import Layouts from "../layouts/layouts.astro";
import Phrase from "../components/phrase.astro";
import Footer from "../components/footer.astro";
import Cards from "../components/cards.astro";
import BackgroundImage from "/src/assets/img/banner_studio.avif";
---

<Layouts>
  <Header />
  <Banner
    title="Find your flow."
    showButton={true}
    img={`url(${BackgroundImage.src})`}
  />
  <main>
    <Telepronter />
    <Information />
    <Phrase />
  </main>
  <Footer />
  <Cards />
</Layouts>
