<footer>
  <span>Mov. Stu.</span>
  <article class="contact">
    <div>
      <p>Email:</p>
      <p>hello@figma.com</p>
    </div>
    <div>
      <p>Instagram:</p>
      <p>@figma</p>
    </div>
    <div>
      <p>Facebook:</p>
      <p>figma</p>
    </div>
  </article>
  <article class="address">
    <p>Address:</p>
    <p>224 Candyland Lane, Brooklyn, NY</p>
    <p>(646) 555-4567</p>
    <p>Movement Studios©</p>
    <p>2025 All Rights Reserved</p>
    <p>Creado por FICTA</p>
  </article>
</footer>

<style>
  footer {
    background-color: rgb(208, 251, 249);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 30px;
    padding-bottom: 300px;
    span {
      font-size: 96px;
      width: 210px;
      display: block;
      font-weight: bold;
    }
  }
  .contact {
    font-size: 16px;
    padding-top: 25px;
    div {
      margin-bottom: 20px;
    }
  }
  .address {
    padding-top: 25px;
    p:first-child {
      margin-bottom: 20px;
    }
    p:nth-child(3) {
      margin-bottom: 20px;
    }
    p:nth-child(4) {
      margin-bottom: 10px;
    }
  }
</style>
