<header>
  <nav>
    <ul>
      <li><a href="/">Classes</a></li>
      <li><a href="/contact">About</a></li>
      <li>
        <a href="https://maps.app.goo.gl/3o2r8MpJi9hCTJ2Z9" target="_blank"
          >224 Nostrand Ave, Brooklyn, NY</a
        >
      </li>
    </ul>
  </nav>
  <h1>Movement Studios.</h1>
</header>

<style>
  header {
    z-index: 1000;
    background-color: black;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    height: 10vh;
    & nav {
      padding: 0;
      height: 100%;
    }
    & nav ul {
      height: 100%;
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      & li{
        height: 100%;
        border-right: 1px solid grey;
      }
      & li:first-child:hover,
      & li:nth-child(2):hover {
        background-color: rgba(0, 0, 255, 0.8);
        transition: background-color 0.3s ease;
      }
      & a {
        text-decoration: none;
        color: white;
        font-weight: 400;
        font-size: 20px;
        padding: 20px 25px;
        display: flex;
        align-items: center;
      }
      & li:last-child:hover {
        & a {
          color: grey;
          transition: background-color 0.3s ease;
        }
      }
    }
    & h1 {
      align-self: center;
      font-size: 36px;
      font-weight: 300;
      padding: 0px 30px;
    }
  }
</style>
