<section>
  <p>
    Whether you're a beginner looking to explore expressive movement or an
    advanced dancer ready to refine your technique, we have classes for you!
  </p>
  <button> Reserve your spot </button>
</section>

<style>
  section {
    position: relative;
    min-height: 50vh;
    align-content: center;
    background-color: blue;
    padding: 60px 11% 70px;
    p{
      font-size: 32px;
      color: white;
      margin-bottom: 20px;
      font-weight: 600;
    }
  }
  button {
    position: absolute;
    bottom: 24px;
    left:11%;
    padding: 20px 30px;
    background-color: rgb(208, 251, 249);
    font-size: 16px;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  button:hover {
    background-color: rgba(200, 124, 185, 1);
    color: white;
    transition: background-color 0.3s ease;
  }
</style>
