<main>
  <div class="swiper main">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <p>Fluid. Expressive. Powerful. Move with us!</p>
      </div>
      <div class="swiper-slide">
        <p>Masterclass Alert: Guest Choreographer Workshop This Saturday</p>
      </div>
      <div class="swiper-slide">
        <p>New Contemporary Dance Classes Now Enrolling – Secure Your Spot</p>
      </div>
    </div>
  </div>
</main>

<style>
  .swiper-slide {
    text-align: center;
    font-size: 13px;
    background: #1f41ff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 5px;
  }
</style>

<script src="../libs/slider.js"></script>
